---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file


/**************/
/* BASE RULES */
/**************/


#listed{
	font: 22px/1.1 $bodyFont;
	h4 {
	    line-height: 1.2;
	}
	p {
      font: 22px/1.1 $bodyFont;
	  margin: 7.5px 0;
	}
	h4 {
	  line-height: 1.1;
	  margin: 1em 0 15px;
	}
}

html {
  font-size: 100%;
}

body {
  background: $backgroundColor;
  font: 18px/1.5 $bodyFont;
  font-weight: 300;
  color: $bodyColor;
  background-color: $backgroundColor;
}

@media (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;
}

blockquote {
  color: $bodyColor;
  padding: 0 3em;
  font: 18px/1.1 $bodyFont;
  margin-top: -10px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $headerFont;
  color: $headerColor;
  font-weight: 600;
  font-style: normal;
  padding: 0;
  text-align: center;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  a {
    color: inherit;
  }
  border-bottom: 1px solid $headerBorderColor;
}

h2 {
  font-size: 24px;
  padding-top: 15px;
  border-bottom: 1px solid $headerBorderColor;
}

h3 {
  font-size: 21px;
  border-bottom: 1px solid $headerBorderColor;
}

h4 {
  font-size: 21px;
  margin: 1em 0 15px;
}

h5 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 17px/1.4;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 350;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: $underlineColor;
  text-decoration-thickness: 1.25px;
  text-underline-offset: 2px;
  cursor: pointer;
  &:hover, &:active {
    color: $highlightColor;
    text-decoration-color: $highlightColor;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  ul {
    font-size: 17px;
    line-height: 1.2;
  }
  ul li {
    margin-bottom: 10px;
  }
  ul span, ul strong {
    font-size: 17px;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

b {
  font-weight: bold;
}

strong {
  font-weight: 500;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $bodyColor;
}

// Specify the color of the selection
::-moz-selection {
  color: $selectionTextColor;
  background: $selectionColor;
}
::selection {
  color: $selectionTextColor;
  background: $selectionColor;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.pub-list li span {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
               "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 12pt;
  line-height: 1.3;
  display: inline-block;
}
.pub-list li {
  line-height: 1.3;
  margin-bottom: 0.4em;
}

.pub-list u {
  font-weight: 400;
  text-decoration: none;
  background-color: #ffeae8;
  padding: 0 0.15em;
  border-radius: 0.15em;
}

.pub-list li strong a {
  text-decoration: none;
  &:hover, &:active {
    text-decoration: underline;
    text-decoration-color: $highlightColor;
    text-decoration-thickness: 1.25px;
    text-underline-offset: 2px;
  }
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/


.masthead {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-bottom: 40px;
  flex-wrap: nowrap;
  margin-top: 20px;

  @include mobile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .site-name {
    font-family: $titleFont;
    font-style: normal;
    font-size: 28px;
    font-weight: 600;
    color: $titleColor;
    cursor: pointer;
    background-color: $backgroundColor;
    border-bottom: 0px solid $headerBorderColor;
    border-top: 0px solid $headerBorderColor;
    letter-spacing: 0px;
    word-spacing: -0.5em;

    @include mobile {
      font-size: 24px;
      width: 100%;
      text-align: center;
    }

    a {
      text-decoration: underline;
      text-decoration-color: $underlineColor;
      text-decoration-thickness: 2px;
    }

    &::before {
      content: none;
    }
  }

  nav {
    font-family: $titleFont;
    font-size: 16px;

    @include mobile {
      font-size: 16px;
    }

    a {
      margin-left: 5px;
      margin-right: 5px;
      font-weight: 600;
      letter-spacing: 1px;

      @include mobile {
        margin: 0 12px;
      }
    }
    a.active {
      color: $activeHeaderColor;
      text-decoration-color: $activeHeaderColor;
    }
  }
}


.education {
  padding: 20px 0;
  .institution {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;

    .details {
      width: 80%;
    }

    h5 {
      text-align: left;
      font-weight: 600;
      font-style: normal;
      font-size: 0.9em;
      margin-bottom: 0.0em;
    }

    p {
      font-size: 0.9em;
      margin: 0;
    }

    .date {
      width: 20%;
      text-align: right;
      font-size: 0.85em;
      white-space: nowrap;
      font-style: normal;
    }
  }
}

@media screen and (max-width: 768px) {
  .institution {
    flex-direction: column;
  }
  .date {
    width: 100%;
    text-align: left;
    margin-top: 5px;
  }
}

.research-background-image-container {
  background-image: url('{{ site.baseurl }}/images/workflow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 1px;
  box-sizing: border-box;
  border-radius: 0px;
}

@media screen and (max-width: 500px) {
  .research-background-image-container {
    height: 210px;
    background-size: contain;
    padding: 1px;
    margin: 0 auto;
  }
}


.project-table {
  table-layout: fixed;
  margin: 30px auto 0;
  border-collapse: collapse;
  width: 100%;
}

.project-table td {
  padding: 12px;
  text-align: left;
  vertical-align: middle;
}

.project-table td:first-child {
  width: 30%;
}

.project-table td:last-child {
  width: 70%;
}

.image-container {
  width: 90%;
  max-width: 300px;
}

.video-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.video-container video {
  border-radius: 25px;
}

.project-table h5 {
  text-align: left;
}

.project-table p {
  font: 17px/1.4 $bodyFont;
  font-weight: 350;
}

@media screen and (max-width: 768px) {
  .project-table, .project-table tr {
    display: block;
    width: 100%;
  }

  .project-table h5 {
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
    line-height: 1.4;
  }

  .project-table td {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-indent: 1em;
  }

  .project-table td:first-child, .project-table td:last-child {
    width: 100%;
  }

  .image-container {
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
  }

  .project-table p {
    border-bottom: 1px solid $underlineColor;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-size: 17px;
  }
}


.member-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.member-table tr {
  display: table-row;
  border-top: 2px solid #ccc;
}

.member-table tr:first-child {
  border-top: none;
}

.member-table td {
  vertical-align: middle;
  text-align: left;
  padding: 20px;
  font-size: 17px;
  font-weight: 350;
}

.member-table td:first-child {
  width: 30%;
  text-align: center;
}

.member-table td:last-child {
  width: 70%;
}

.image-container-member img {
  width: 95%;
  max-width: 350px;
  border-radius: 10%;
  border: 2px solid #000;
  display: block;
  margin: auto;
}

.member-table h5 {
  text-align: left;
  margin: 0;
}

.member-table p {
  font: 18px/1.5 $bodyFont;
  margin: 5px 0 0;
}

@media screen and (max-width: 768px) {
  .member-table {
    display: block;
    width: 100%;
  }

  .member-table tr {
    display: block;
    margin-bottom: 18px;
  }

  .member-table td {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .member-table td:first-child {
    width: 100%;
    text-align: center;
  }

  .member-table td:last-child {
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: 350;
  }

  .image-container-member img {
    width: 60%;
    max-width: 200px;
  }

  .member-table h5 {
    text-align: center;
  }

  .member-table p {
    font-size: 17px;
    text-align: center;
    margin: 10px auto;
    font-weight: 400;
  }
}


.front-title-font {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font: 30px $headerFont;
  font-weight: bold;
  margin-bottom: 0em;
}

@media screen and (max-width: 768px) {
  .front-title-font {
    margin-bottom: 0.4em;
  }
}

.front-body-font {
  font: 20px/1.4 $bodyFont;
  text-indent: 2em;
  font-weight: 350;
}

@media screen and (max-width: 768px) {
  .front-body-font {
    font-size: 17px;
    text-indent: 1em;
  }
}

.list-body-font {
  font: 17px/1.5 $bodyFont;
  text-indent: 0em;
  font-weight: 350;
}

@media screen and (max-width: 768px) {
  .list-body-font {
    font-size: 17px;
    text-indent: 0em;
  }
}


//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $bodyColor;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

footer {
  padding-top: 100px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 14px;
}

.avatar img {
  float: left;
  margin-right: 35px;
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #000;
}

.about-container {
  overflow: hidden;
}

.about-text {
  font-size: 17px;
  line-height: 1.5;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .avatar img {
    float: none;
    display: block;
    margin: 0 auto 15px auto;
  }

  .about-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-text {
    font-size: 17px;
    line-height: 1.5;
    text-align: left;
    width: 100%;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
