
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$white: #fff;
$gray: #666;
$lightGray: #eee;

//$styleColor: #86a6b3;
//$headerColor: #586e75;
//$bodyColor: #4d5f66;

$red: #b5392d;//#FC4100;
$darkRed: #b80c09;
$darkBlue: #00215E;
$dullBlue: #2C4E80;
$lightBlue: #219ebc;
$lightPink: #fcdbd9;
$lighterPink: #fceceb;
$offWhite: #faf9f5; //#fdf6e3;#fff7eb

$backgroundColor: $offWhite;
$containerColor: $lightPink;

$bodyColor: $darkBlue;
$selectionTextColor: $bodyColor;
$titleColor: $bodyColor;

$headerColor: $bodyColor;
$headerBackgroundColor: $lightPink;
$activeHeaderColor: $red;

//$underlineColor: $red;
//$highlightColor: $red;
$underlineColor: $darkBlue;
$highlightColor: $lightBlue;
$selectionColor: $lightPink;
$bulletColor: $red;

$headerBorderColor: $dullBlue;

// Font stacks
$helvetica: "Helvetica", Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$lucidaGrande: "Lucida Grande", "Helvetica Neue", sans-serif;

 
//$mont: 'Avenir', "Lucida Grande", "Helvetica Neue", sans-serif;
$bodyFont: "Roboto", sans-serif;
$headerFont: "Roboto Mono", monospace;
$titleFont: "Roboto Mono", monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-VariableFont_wdth,wght.woff2") format("woff2");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.woff2") format("woff2");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}