
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$white: #fff;
$gray: #666;
$lightGray: #eee;
$offWhite: #fdf6e3;


//$styleColor: #86a6b3;
//$headerColor: #586e75;
//$bodyColor: #4d5f66;

$red: #b5392d;//#FC4100;
$darkRed: #b80c09;
$darkBlue: #00215E;
$dullBlue: #2C4E80;
$lightBlue: #219ebc;
$lightPink: #fcdbd9;
$lighterPink: #fceceb;
$offWhite: #faf9f5; //#fdf6e3;#fff7eb

$backgroundColor: $offWhite;
$containerColor: $lightPink;

$bodyColor: $darkBlue;
$selectionTextColor: $bodyColor;
$titleColor: $bodyColor;

$headerColor: $bodyColor;
$headerBackgroundColor: $lightPink;
$activeHeaderColor: $red;

//$underlineColor: $red;
//$highlightColor: $red;
$underlineColor: $darkBlue;
$highlightColor: $lightBlue;
$selectionColor: $lightPink;
$bulletColor: $red;

$headerBorderColor: $dullBlue;

// Font stacks
$helvetica: "Helvetica", Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$lucidaGrande: "Lucida Grande", "Helvetica Neue", sans-serif;

 
//$mont: 'Avenir', "Lucida Grande", "Helvetica Neue", sans-serif;
$bodyFont: 'Helvetica Neue', 'Times';
$headerFont: 'Helvetica Neue', sans-serif;
$titleFont: 'Helvetica Neue', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
$titleFont: 'Baskervville SC', serif; 


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}


// Fonts


@font-face {
  font-family: 'Bulmer';
  src: url('/fonts/Bulmer/BulmerMTStd-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Bulmer/BulmerMTStd-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Bulmer/BulmerMTStd-Regular.woff2') format('woff2'),
       url('/fonts/Bulmer/BulmerMTStd-Regular.woff') format('woff'),
       url('/fonts/Bulmer/BulmerMTStd-Regular.ttf') format('truetype'),
       url('/fonts/Bulmer/BulmerMTStd-Regular.svg#BulmerMTStd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bulmer';
  src: url('/fonts/Bulmer/BulmerMTStd-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Bulmer/BulmerMTStd-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Bulmer/BulmerMTStd-SemiBold.woff2') format('woff2'),
       url('/fonts/Bulmer/BulmerMTStd-SemiBold.woff') format('woff'),
       url('/fonts/Bulmer/BulmerMTStd-SemiBold.ttf') format('truetype'),
       url('/fonts/Bulmer/BulmerMTStd-SemiBold.svg#BulmerMTStd-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bulmer';
  src: url('/fonts/Bulmer/BulmerMTStd-Italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Bulmer/BulmerMTStd-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Bulmer/BulmerMTStd-Italic.woff2') format('woff2'),
       url('/fonts/Bulmer/BulmerMTStd-Italic.woff') format('woff'),
       url('/fonts/Bulmer/BulmerMTStd-Italic.ttf') format('truetype'),
       url('/fonts/Bulmer/BulmerMTStd-Italic.svg#BulmerMTStd-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bulmer';
  src: url('/fonts/Bulmer/BulmerMTStd-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Bulmer/BulmerMTStd-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Bulmer/BulmerMTStd-Bold.woff2') format('woff2'),
       url('/fonts/Bulmer/BulmerMTStd-Bold.woff') format('woff'),
       url('/fonts/Bulmer/BulmerMTStd-Bold.ttf') format('truetype'),
       url('/fonts/Bulmer/BulmerMTStd-Bold.svg#BulmerMTStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bulmer';
  src: url('/fonts/Bulmer/BulmerMTStd-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Bulmer/BulmerMTStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Bulmer/BulmerMTStd-BoldItalic.woff2') format('woff2'),
       url('/fonts/Bulmer/BulmerMTStd-BoldItalic.woff') format('woff'),
       url('/fonts/Bulmer/BulmerMTStd-BoldItalic.ttf') format('truetype'),
       url('/fonts/Bulmer/BulmerMTStd-BoldItalic.svg#BulmerMTStd-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Bulmer Display';
  src: url('/fonts/Bulmer/BulmerMTStd-Display.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Bulmer/BulmerMTStd-Display.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Bulmer/BulmerMTStd-Display.woff2') format('woff2'),
       url('/fonts/Bulmer/BulmerMTStd-Display.woff') format('woff'),
       url('/fonts/Bulmer/BulmerMTStd-Display.ttf') format('truetype'),
       url('/fonts/Bulmer/BulmerMTStd-Display.svg#BulmerMTStd-Display') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bulmer Display';
  src: url('/fonts/Bulmer/BulmerMTStd-ItalicDisplay.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Bulmer/BulmerMTStd-ItalicDisplay.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Bulmer/BulmerMTStd-ItalicDisplay.woff2') format('woff2'),
       url('/fonts/Bulmer/BulmerMTStd-ItalicDisplay.woff') format('woff'),
       url('/fonts/Bulmer/BulmerMTStd-ItalicDisplay.ttf') format('truetype'),
       url('/fonts/Bulmer/BulmerMTStd-ItalicDisplay.svg#BulmerMTStd-ItalicDisplay') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bulmer Display';
  src: url('/fonts/Bulmer/BulmerMTStd-BoldDisplay.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Bulmer/BulmerMTStd-BoldDisplay.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Bulmer/BulmerMTStd-BoldDisplay.woff2') format('woff2'),
       url('/fonts/Bulmer/BulmerMTStd-BoldDisplay.woff') format('woff'),
       url('/fonts/Bulmer/BulmerMTStd-BoldDisplay.ttf') format('truetype'),
       url('/fonts/Bulmer/BulmerMTStd-BoldDisplay.svg#BulmerMTStd-BoldDisplay') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bulmer Display';
  src: url('/fonts/Bulmer/BulmerMTStd-BoldItalicDisp.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Bulmer/BulmerMTStd-BoldItalicDisp.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Bulmer/BulmerMTStd-BoldItalicDisp.woff2') format('woff2'),
       url('/fonts/Bulmer/BulmerMTStd-BoldItalicDisp.woff') format('woff'),
       url('/fonts/Bulmer/BulmerMTStd-BoldItalicDisp.ttf') format('truetype'),
       url('/fonts/Bulmer/BulmerMTStd-BoldItalicDisp.svg#BulmerMTStd-BoldItalicDisp') format('svg');
  font-weight: bold;
  font-style: italic;
}

