<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

		
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/favicon/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="512x512" href="{{ site.baseurl }}/favicon/android-chrome-512x512.png">
	<link rel="manifest" href="{{ site.baseurl }}/favicon/site.webmanifest">
	<link rel="mask-icon" href="{{ site.baseurl }}/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
	
	<!--fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  </head> 

<!-- <div id="header-text-image">
	<a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
	<div id="header-text">
        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
	</div>
</div> -->  


  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead">

          <div class="site-name">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

			<nav>
			  <a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
			  <a href="{{ site.baseurl }}/research" class="{% if page.url == '/research/' %}active{% endif %}">Research</a>
			  <a href="{{ site.baseurl }}/publications" class="{% if page.url == '/publications/' %}active{% endif %}">Publications</a>
			  <a href="{{ site.baseurl }}/group" class="{% if page.url == '/group/' %}active{% endif %}">Group</a>
			  <a href="{{ site.baseurl }}/join" class="{% if page.url == '/join/' %}active{% endif %}">Join</a>
			</nav>
        </header>
      </div>
    </div>
	
	
	

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
		   Copyright © Ziyan Zhu 2025.
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
	
    {% include analytics.html %}
  </body>
</html>
